<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span>Varsha Creation</span>
  
    <span class ="ebutton3">
  <button mat-button [matMenuTriggerFor]="menu" style=" color: #ffffff;">	<mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button [routerLink]="['register']" routerLinkActive="active" mat-menu-item>Register</button>
  <button  [routerLink]="['feedback']" routerLinkActive="active" mat-menu-item>Feedback</button>
  <button mat-menu-item>Contact Us</button>
</mat-menu>
</span>
    
</div>
<br>
<br>
<br>
<br>
<br>

<router-outlet></router-outlet>

<br>
<br>
<br>
<br>
<br>


<body>   
     <div class="container">
        
        <div class="card">
            <div class="imgBx">
            <img src="https://i.ibb.co/HtwtvRj/IMG-20200729-110728.jpg">
            </div>
            <div class="content">
                <h2>Card 1</h2>
                <p>
                    Description:xyz
                </p>
             </div>
        </div>
        <div class="card">
         <div class="imgBx">
         <img src="https://i.ibb.co/vJCxjT7/IMG-20200729-110711.jpg">
         </div>
         <div class="content">
             <h2>Card 2</h2>
             <p>Description:pqr
             </p> 
      </div>
     </div>
     
     <div class="card">
         <div class="imgBx">
         <img src="https://i.ibb.co/PM7rwSW/IMG-20200729-111203.jpg">
         </div>
         <div class="content">
             <h2>Card 3</h2>
             <p>Description:abc
             </p>
          </div>
     </div>
     
     <div class="card">
        <div class="imgBx">
        <img src="https://i.ibb.co/VJXLpq8/IMG-20200729-110720.jpg">
        </div>
        <div class="content">
            <h2>Card 4</h2>
            <p>Description:fjf
            </p>
         </div>
    </div>
     </div>
</body>
























<div class="footer">
    <h2>Contact Us</h2>
    <div class="icons">
    <div class="spacer3"><a href="https://api.whatsapp.com/send?phone=+919822074554" ><img src="https://cdn3.iconfinder.com/data/icons/social-1/100/whatsapp-128.png" width="40" height="40"></a></div>

    <div class="spacer"><a href="https://www.google.com/maps/place/Varsha+creation/@18.6222839,73.7982391,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2b8546dda47c5:0x17e64a2a821e8698!8m2!3d18.6222788!4d73.8004278" ><img src="https://cdn3.iconfinder.com/data/icons/google-suits-2/32/2_google_maps_gps_navigation_traffice_direction-128.png" width="40" height="40" ></a></div>
    
    <div class="spacer2"><a (click)="openSnackBar()" aria-label="Show an example snack-bar"><img src="https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/phone-call-active-256.png" width="35" height="35" (click)="copyMessage('+919822074554')" /></a></div>
  </div>
  
  
  <h3>© Copyright 2020 Varsha Creation</h3>
  <h5>Designed and developed by Madhur Jodhwani</h5>
</div>

