<div class="container">
  <form [formGroup]="registerForm" >
    <label for="name">Full Name</label>
    <input formControlName="name" id="name" />
    <control-messages [control]="registerForm.get('name')"></control-messages>
    <br>
    <br>
    <h4>How would you like to recieve updates?</h4>
    <div class="h" >
      <select name='dropdown' class="dropdown"  id="dropdown" [value]="registerForm.dropdown">
            <option disabled="disabled">Select option</option>
            <option value = "SMS" id="s" selected>SMS</option>
            <option value = "email" id="e" >Email</option>
            <option value = "Whats" id="w" >WhatsApp</option>
      </select>
    
      
      
    
  </div>
    <br>
    <br>
     
    <label for="phone">Phone Number</label>
    <input formControlName="phone" id="phone"/>
    <control-messages [control]="registerForm.get('phone')"></control-messages>
    
      <br>
      
      <br>

    <label for="email">Email</label><br>
    <input formControlName="email" id="email" />
    <control-messages [control]="registerForm.get('email')"></control-messages>
    
    

    <br>
  <br>
  <label for="WhatsApp">WhatsApp Number</label>
  <input formControlName="WhatsApp" id="WhatsApp"/>
  <control-messages [control]="registerForm.get('WhatsApp')"></control-messages><br>
  <br>
  <br>
    <button mat-raised-button style="background-color:#db1076;color: #ffffff;" type="submit" (click)="onSubmit()"  >Submit</button>
  </form>
</div>


